* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(to bottom right, #4b0017, #9c0000);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  color: white;
  font-size: 60px;
}
svg {
  transition: 0.1s ease-in-out;
  &:hover {
    transform: rotate(360deg);
  }
}

h2,
span {
  color: white;
  text-align: center;
}
.rect {
  animation: animation 2s ease infinite;
}

@keyframes animation {
  0% {
    fill: #ff6e6e;
  }
  50% {
    fill: green;
  }
  100% {
    fill: #ff6e6e;
  }
}
